In [177]:
import pandas as pd

df_movies = pd.read_csv(r'.\Data\rotten_tomatoes_movies.csv')
df_reviews = pd.read_csv(r'.\Data\rotten_tomatoes_critic_reviews.csv')

# Preprocesamiento

In [178]:
df_movies.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [179]:
df_reviews.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

In [180]:
#merged_data = pd.merge(df_movies,df_reviews, on='rotten_tomatoes_link', how='inner')

df_corpus = pd.merge( df_movies[[ 'rotten_tomatoes_link','movie_title']],df_reviews[['rotten_tomatoes_link','review_content']],  on='rotten_tomatoes_link')

In [181]:
df_corpus['review_content']

0          A fantasy adventure that fuses Greek mythology...
1          Uma Thurman as Medusa, the gorgon with a coiff...
2          With a top-notch cast and dazzling special eff...
3          Whether audiences will get behind The Lightnin...
4          What's really lacking in The Lightning Thief i...
                                 ...
1129882                                                  NaN
1129883    Seen today, it's not only a startling indictme...
1129884    A rousing visual spectacle that's a prequel of...
1129885    A simple two-act story: Prelude to war, and th...
1129886    Rides the line between being a pure artifact o...
Name: review_content, Length: 1129887, dtype: object

In [182]:
print(df_corpus.dtypes)

rotten_tomatoes_link    object
movie_title             object
review_content          object
dtype: object

In [183]:
import pandas as pd
import re


# FunciÃ³n de preprocesamiento
def preprocesar_texto(texto):
    # Convertir a minÃºsculas
    texto = texto.lower()
    # Eliminar caracteres especiales (excepto espacios y letras)
    texto = re.sub(r'[^a-zA-Z\s]', '', texto)
    return texto

In [184]:
#Eliminar valores Nan y 
df_corpus.dropna(subset=['review_content'], inplace=True)
df_corpus

,rotten_tomatoes_link,movie_title,review_content
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Whether audiences will get behind The Lightnin...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,What's really lacking in The Lightning Thief i...
...,...,...,...
1129878,m/zulu,Zulu,A rousing reconstruction of the 1879 Battle of...
1129883,m/zulu_dawn,Zulu Dawn,"Seen today, it's not only a startling indictme..."
1129884,m/zulu_dawn,Zulu Dawn,A rousing visual spectacle that's a prequel of...
1129885,m/zulu_dawn,Zulu Dawn,"A simple two-act story: Prelude to war, and th..."
1129886,m/zulu_dawn,Zulu Dawn,Rides the line between being a pure artifact o...

In [185]:
#Error generado por los Nan de la columna review

df_corpus['textoLimpio'] = df_corpus['review_content'].apply(preprocesar_texto)
df_corpus

,rotten_tomatoes_link,movie_title,review_content,textoLimpio
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...,a fantasy adventure that fuses greek mythology...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff...",uma thurman as medusa the gorgon with a coiffu...
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...,with a topnotch cast and dazzling special effe...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Whether audiences will get behind The Lightnin...,whether audiences will get behind the lightnin...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,What's really lacking in The Lightning Thief i...,whats really lacking in the lightning thief is...
...,...,...,...,...
1129878,m/zulu,Zulu,A rousing reconstruction of the 1879 Battle of...,a rousing reconstruction of the battle of ror...
1129883,m/zulu_dawn,Zulu Dawn,"Seen today, it's not only a startling indictme...",seen today its not only a startling indictment...
1129884,m/zulu_dawn,Zulu Dawn,A rousing visual spectacle that's a prequel of...,a rousing visual spectacle thats a prequel of ...
1129885,m/zulu_dawn,Zulu Dawn,"A simple two-act story: Prelude to war, and th...",a simple twoact story prelude to war and the w...
1129886,m/zulu_dawn,Zulu Dawn,Rides the line between being a pure artifact o...,rides the line between being a pure artifact o...

In [186]:
import pandas as pd
from nltk.corpus import stopwords
import nltk

# Descargar stopwords de NLTK
nltk.download('stopwords')

# FunciÃ³n para eliminar stopwords
def eliminarStopwords(texto):
    palabras = texto.split()  # Divide el texto en palabras
    stop_words = set(stopwords.words('english'))  # ObtÃ©n las stopwords en inglÃ©s
    palabras_filtradas = [palabra for palabra in palabras if palabra.lower() not in stop_words]  # Filtra las stopwords
    return ' '.join(palabras_filtradas)

  # Devuelve la lista de palabras filtradas

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dicam\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [187]:
#La data de reviews es muy grande :/ Pero pues no puedo acortarla porque se supone que debe devolverme los resultados

In [ ]:
df_corpus['textoSinStopWords'] = df_corpus['textoLimpio'].apply(eliminarStopwords)

In [ ]:
df_corpus

,rotten_tomatoes_link,movie_title,review_content,textoLimpio,textoSinStopWords
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...,a fantasy adventure that fuses greek mythology...,fantasy adventure fuses greek mythology contem...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff...",uma thurman as medusa the gorgon with a coiffu...,uma thurman medusa gorgon coiffure writhing sn...
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...,with a topnotch cast and dazzling special effe...,topnotch cast dazzling special effects tide te...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Whether audiences will get behind The Lightnin...,whether audiences will get behind the lightnin...,whether audiences get behind lightning thief h...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,What's really lacking in The Lightning Thief i...,whats really lacking in the lightning thief is...,whats really lacking lightning thief genuine s...
...,...,...,...,...,...
1129878,m/zulu,Zulu,A rousing reconstruction of the 1879 Battle of...,a rousing reconstruction of the 1879 battle of...,rousing reconstruction 1879 battle rorkes drift
1129883,m/zulu_dawn,Zulu Dawn,"Seen today, it's not only a startling indictme...",seen today its not only a startling indictment...,seen today startling indictment british imperi...
1129884,m/zulu_dawn,Zulu Dawn,A rousing visual spectacle that's a prequel of...,a rousing visual spectacle thats a prequel of ...,rousing visual spectacle thats prequel cy endf...
1129885,m/zulu_dawn,Zulu Dawn,"A simple two-act story: Prelude to war, and th...",a simple twoact story prelude to war and the w...,simple twoact story prelude war war former con...
1129886,m/zulu_dawn,Zulu Dawn,Rides the line between being a pure artifact o...,rides the line between being a pure artifact o...,rides line pure artifact bygone eraone depicts...

In [ ]:
#Demasiada data para que una humilde laptop la pueda procesar inge asi que limitamos las review a unicamente tres :)
df_corpus = df_corpus.groupby('movie_title').head(3).reset_index(drop=True)

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer

# Descargar los recursos necesarios de NLTK
nltk.download('wordnet')

# Inicializar el lemmatizer de NLTK
lemmatizer = WordNetLemmatizer()

# FunciÃ³n para lematizar el texto
def lematizar_texto(texto):
    # Dividir el texto en palabras
    palabras = texto.split()
    
    # Lematizar cada palabra
    palabras_lematizadas = [lemmatizer.lemmatize(palabra) for palabra in palabras]
    
    # Devolver el texto lematizado como una cadena
    return ' '.join(palabras_lematizadas)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dicam\AppData\Roaming\nltk_data...

In [ ]:
# Aplicar la lematizaciÃ³n a la columna de texto
df_corpus['textoLematizado'] = df_corpus['textoSinStopWords'].apply(lematizar_texto)

In [ ]:
df_corpus.head()

,rotten_tomatoes_link,movie_title,review_content,textoLimpio,textoSinStopWords,textoLematizado
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...,a fantasy adventure that fuses greek mythology...,fantasy adventure fuses greek mythology contem...,fantasy adventure fuse greek mythology contemp...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff...",uma thurman as medusa the gorgon with a coiffu...,uma thurman medusa gorgon coiffure writhing sn...,uma thurman medusa gorgon coiffure writhing sn...
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...,with a topnotch cast and dazzling special effe...,topnotch cast dazzling special effects tide te...,topnotch cast dazzling special effect tide tee...
3,m/0878835,Please Give,"Like Holofcener's previous pictures, Please Gi...",like holofceners previous pictures please give...,like holofceners previous pictures please give...,like holofceners previous picture please give ...
4,m/0878835,Please Give,"A muted, almost Rohmer-like moral tale that do...",a muted almost rohmerlike moral tale that does...,muted almost rohmerlike moral tale doesnt quit...,muted almost rohmerlike moral tale doesnt quit...

# Construccion del Sistema

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Inicializamos el vectorizador TF-IDF
vectorizer = TfidfVectorizer(stop_words=None, max_features=5000)  # 'stop_words=None' porque ya eliminaste las stopwords

# Aplicamos el vectorizador a la columna 'textoSinStopWords'
X = vectorizer.fit_transform(df_corpus['textoLematizado'])

# Ver el tamaÃ±o de la matriz
print(X.shape)  # Esto te dirÃ¡ cuÃ¡ntas filas (documentos) y columnas (palabras Ãºnicas) tienes

# Convertimos la matriz dispersa a un DataFrame para ver las caracterÃ­sticas
df_tfidf = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

print(df_tfidf.head())

(50987, 5000)
    10  100   11   12   13  13th        15  1930s  1939  1940s  ...  younger  \
0  0.0  0.0  0.0  0.0  0.0   0.0  0.294591    0.0   0.0    0.0  ...      0.0
1  0.0  0.0  0.0  0.0  0.0   0.0  0.000000    0.0   0.0    0.0  ...      0.0
2  0.0  0.0  0.0  0.0  0.0   0.0  0.000000    0.0   0.0    0.0  ...      0.0
3  0.0  0.0  0.0  0.0  0.0   0.0  0.000000    0.0   0.0    0.0  ...      0.0
4  0.0  0.0  0.0  0.0  0.0   0.0  0.000000    0.0   0.0    0.0  ...      0.0

   youngster  youre  youth  youthful  youve  zany  zero  zombie  zone
0        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0
1        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0
2        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0
3        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0
4        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0

[5 rows x 5000 columns]

In [ ]:
# Queries de ejemplo
queries = ["Movies about space travel", "Movies to watch with family"]

# Preprocesamiento de las queries (limpieza)
queries_cleaned = [preprocesar_texto(query) for query in queries]  # Usamos la funciÃ³n de limpieza que ya tienes

# VectorizaciÃ³n con el mismo TfidfVectorizer que usaste para el corpus
queries_vectorized = vectorizer.transform(queries_cleaned)

# Convertimos la matriz dispersa a un DataFrame para ver las caracterÃ­sticas
queries_df = pd.DataFrame(queries_vectorized.toarray(), columns=vectorizer.get_feature_names_out())

# Ver el resultado
print(queries_df)

    10  100   11   12   13   15  1930s  1940s  1950s  1960s  ...  youngsters  \
0  0.0  0.0  0.0  0.0  0.0  0.0    0.0    0.0    0.0    0.0  ...         0.0
1  0.0  0.0  0.0  0.0  0.0  0.0    0.0    0.0    0.0    0.0  ...         0.0

   youre  youth  youthful  youve  zany  zero  zombie  zombies  zone
0    0.0    0.0       0.0    0.0   0.0   0.0     0.0      0.0   0.0
1    0.0    0.0       0.0    0.0   0.0   0.0     0.0      0.0   0.0

[2 rows x 5000 columns]

In [ ]:
# Lista de queries
queries = ["Movies about space travel", "Movies to watch with family"]

# Preprocesamiento de las queries (usando la misma funciÃ³n de preprocesamiento que definiste)
queries_cleaned = [preprocesar_texto(query) for query in queries]
queries_cleaned = [eliminarStopwords(query) for query in queries]
queries_cleaned = [lematizar_texto(query) for query in queries]
# Vectorizamos las queries con el mismo vectorizador que usaste para el corpus
queries_vectorized = vectorizer.transform(queries_cleaned)

# Convertimos las queries vectorizadas a un DataFrame para visualizarlas
queries_df = pd.DataFrame(queries_vectorized.toarray(), columns=vectorizer.get_feature_names_out())

# Ver el resultado de las queries vectorizadas
print(queries_df)

    10  100   11   12   13  13th   15  1930s  1939  1940s  ...  younger  \
0  0.0  0.0  0.0  0.0  0.0   0.0  0.0    0.0   0.0    0.0  ...      0.0
1  0.0  0.0  0.0  0.0  0.0   0.0  0.0    0.0   0.0    0.0  ...      0.0

   youngster  youre  youth  youthful  youve  zany  zero  zombie  zone
0        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0
1        0.0    0.0    0.0       0.0    0.0   0.0   0.0     0.0   0.0

[2 rows x 5000 columns]